<h2><%= artist.name %></h2>
<a href="/artists/<%= artist.id %>/edit">Edit</a>
<%- include('../partials/deleteForm',
            { url: `/artists/${artist.id}` }) %>
<% if (songsByArtist.length > 0) { %>
  <h2>Songs By Artist</h2>
  <% songsByArtist.forEach(songs => { %>
    <a href="/songs/<%= song.id %>">
      <img height="150" width="100" src="<%= song.coverImagePath %>">
    </a>
  <% }) %>
<% } %>